*.npy
.DS_Store
.huskyrc.json
rebuatall_deltaes
out
best*
jobs
Oct24_final_run_data
/iso3200*
/iso800*
/iso1600*
/iso400*
/models
/home
network_outputs*
full_images
best_patches_viz
best_patches_viz_deltaes
vector_run_scripts/error
vector_run_scripts/output
hpc_run_scripts/error
hpc_run_scripts/output
patches
patches_48
patches_60
patches_large
vector_models
*/files_test.txt
vector
vector_jobs
patches_old
hard_patches
hard_patches_old
Scenes_removed_bad
Scenes_npy_removed_bad
patches_small_scale
hard_patches_remove_bad
tmp
wandb
Scenes_npy_removed_bad_uint16.zip
Scenes/
/hpc_models
log.log
**/node_modules
*.pyc
*.vsix
**/.vscode/.ropeproject/**
**/testFiles/**/.cache/**
*.noseids
.nyc_output
.vscode-test
__pycache__
npm-debug.log
**/.mypy_cache/**
!yarn.lock
coverage/
cucumber-report.json
**/.vscode-test/**
**/.vscode test/**
**/.vscode-smoke/**
**/.venv*/
port.txt
precommit.hook
pythonFiles/lib/**
debug_coverage*/**
languageServer/**
languageServer.*/**
bin/**
obj/**
.pytest_cache
tmp/**
.python-version
.vs/
test-results*.xml
xunit-test-results.xml
build/ci/performance/performance-results.json
!build/
debug*.log
debugpy*.log
pydevd*.log
nodeLanguageServer/**
nodeLanguageServer.*/**
dist/**
# translation files
*.xlf
package.nls.*.json
l10n/
beyond_rgb_process
DSC01201_PSMS.dng
PyTorch/arch/rcan.py
PyTorch/arch/common.py